<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop-product</title>
        <link rel="stylesheet" href="../css/shop-product.css">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
        <script src="/js/shop-product.js"></script>
    </head>
<body>
    <div class="welcome">Chào mừng bạn đến với không gian nội thất</div>
        <header>
            <img src="" alt="">
            <div class="menu">
                <div class="logo col1"><img src="../img/logo.png" alt=""></div>
                <nav class="menunav col5">
                    <ul>
                        <li><a href="./index.html">Trang chủ</a></li>
                        <li><a href="./product.html">Sản phẩm</a></li>
                        <li><a href="#">Bài viết</a></li>
                        <li><a href="./contact.html">Liên hệ</a></li>
                    </ul>
                </nav>
                <div class="search col2_5">
                    <input type="search" name="" id="" placeholder="   search...">
                    <div class="find"><ion-icon name="search"></ion-icon></div>
                </div>
                <div class="directional-icon col1_5">
                    <a href="./cart.html"><ion-icon name="cart"></ion-icon></a>
                    <a href="./account.html"><ion-icon name="person-circle-outline"></ion-icon></a>
                    <div class="number-cart"></div>
                </div>
            </div>
            <section class="section1">
                <!-- <div class="slideshow">
                    <img src="/view/layout/img/home/homemain1.jpeg" alt="">
                </div> -->
            </section>
            <div class="content">
            </div>
        </header>
        <main>
            <div class="directional">
                <div class="filter">
                    <ion-icon name="options-outline"></ion-icon>
                    Bộ lọc
                </div>
                <div class="arrange">
                    <ion-icon name="arrow-down-outline"></ion-icon>
                    <span>Sản phẩm mới</span>
                    <ion-icon name="caret-down-outline"></ion-icon>
                </div>
            </div>
            <div class="main-product">
                <div class="left-product">
                    <div class="sidebars">
                        <div class="sidebar">
                        <div class="toggle"><strong>Danh mục</strong></div>
                        <ul>
                            <li class="list active">
                                <a href="#"><img class="icon" src="/view/layout/img/shop-product/Coffee Table.png" alt="">
                                    <span class="title">Bàn</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#"><img class="icon" src="/view/layout/img/shop-product/Sofa.png" alt="">
                                    <span class="title">Sofa</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#"><img class="icon" src="/view/layout/img/shop-product/Chandelier.png" alt="">
                                    <span class="title">Đèn treo</span>
                                </a>
                            </li>
                            <li class="list">
                                <a href="#"><img class="icon" src="/view/layout/img/shop-product/Sliding Door Closet.png" alt="">
                                    <span class="title">Tủ quần áo</span>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="sidebars-bt">
                        <div class="toggle"><strong> Chủ đề </strong></div>
                        <div class="sidebars">
                            <div class="sidebar">
                            <video autoplay loop src="/view/layout/img/Blue and Pink Minimalist Interior Style Mobile Video.mp4"></video>
                            </div>
                        </div>
                    </div>
                
                </div>
                <div class="right-product">
                    <div class="dm">
                        <table>
                            <ul>
                                <a class="pc22" href=""><li >Sản phẩm mới </li></a>
                                <a class="pc22" href=""><li>Sản phẩm nổi bật </li></a>
                                <a class="pc22" href=""><li>Sản phẩm khuyến mãi</li></a>
                                <a class="pc22" href=""><li>Mua sắm theo phòng</li></a>
                            </ul>
                        </table>
                    </div>
                    <div class="container-product">
                        <div class="list-product">
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                            <div class="bd-product">
                                <a href="/page/product.php" class="a">
                                    <img src="../img/home/section/section3.1.webp"  alt="">
                                    <h4>Sofa Annie xinh xắn</h4>
                                    <p>4300000 đ</p> 
                                </a>
                                <input name="addtocart" value="Thêm giỏ hàng" type="submit" class="atc trans">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <script src="../js/home.js"></script>
</body>
</html>