<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <link rel="stylesheet" href="../css/sucsess.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="welcome">Chào mừng bạn đến với không gian nội thất</div>
    <div class="container">
        <header>
            <div class="menu">
                <div class="logo col1"><a href="./index.html"><img src="../img/logo.png" alt=""></a></div>
                <nav id="col5"  class="col5">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./product.html">Sản phẩm</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="./contact.html">Liên hệ</a></li>
                    </ul>
                </nav>
                <div class="search col2_5">
                    <input type="search" name="" id="" placeholder="   search...">
                    <div class="find"><ion-icon name="search"></ion-icon></div>
                </div>
                <div class="directional-icon col1_5">
                    <a href="./cart.html"><ion-icon name="cart"></ion-icon></a>
                    <a href="./account.html"><ion-icon name="person-circle-outline"></ion-icon></a>
                    <div class="number-cart"></div>
                </div>
            </div>
        </header> 
        <div class="container">
            <div class="cart-top-wrap">
                <div class="bar-cart">
                    <div class="cart-bar-cart cart-top-item">
                        <ion-icon name="bag-handle"></ion-icon>
                    </div>
                    <div class="cart-bar-credit cart-top-item">
                        <ion-icon name="card"></ion-icon>
                    </div>
                    <div class="cart-bar-tick cart-top-item">
                        <ion-icon name="checkmark-circle"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="thank">
        <img src="../img/thankyou2.png" alt="">
        <h1>Cảm ơn bạn đã mua hàng</h1> <br>
        <p>Chào bạn, đơn hàng của bạn đã đặt thành công</p><br>
        <p>Hệ thống sẽ tự động gửi Email và SMS xác nhận đơn hàng đến số điện thoại 
          và hòm thư mà bạn đã cung cấp</p><br>
        <p>Cảm ơn bạn đã tin dùng sản phẩm của Home Decor!</p>
        <div class="btn-sc">
          <a class="btn-sc-tt" href="./index.html">Tiếp tục mua sắm</a>
          <a class="btn-sc-td" href="#">Theo dõi đơn hàng</a>
        </div>
      </div>

      <footer>
        <div class="text-about">
            <div class="text1 col5">
                <img src="./img/logo2.png" alt="">
                <p>Condimentum adipiscing vel neque dis nam 
                    parturient orci at scelerisque neque dis nam 
                    parturient.
                </p>
                <div class="icon-text-about">
                    <ion-icon name="paper-plane-outline"></ion-icon><span>451 Wall Street, UK, London</span><br>
                    <ion-icon name="phone-portrait-outline"></ion-icon><span>Phone: (064) 332-1233</span><br>
                    <ion-icon name="mail-outline"></ion-icon><span>Fax: (099) 453-1357</span>
                </div>
            </div>
            <div class="text2 col2">
                <span>OUR STORES</span>
                <ul>
                    <li>New York</li>
                    <li>London SF</li>
                    <li>Edinburgh</li>
                    <li>Los Angeles</li>
                    <li>Chicago</li>
                    <li>Las Vegas</li>
                </ul>
            </div>
            <div class="text2 col2">
                <span>OUR STORES</span>
                <ul>
                    <li>New York</li>
                    <li>London SF</li>
                    <li>Edinburgh</li>
                    <li>Los Angeles</li>
                    <li>Chicago</li>
                    <li>Las Vegas</li>
                </ul>
            </div>
            <div class="text2 col2">
                <span>OUR STORES</span>
                <ul>
                    <li>New York</li>
                    <li>London SF</li>
                    <li>Edinburgh</li>
                    <li>Los Angeles</li>
                    <li>Chicago</li>
                    <li>Las Vegas</li>
                </ul>
            </div>
        </div>
        <div class="icon-internet">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
        </div>
        <div class="dc">project created by NguyenQuocHoc - PS28717 on 5-22-2023</div>
    </footer>
</body>
</html> 